@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Mono+One&family=Staatliches&display=swap");

body {
  background-color: #28282b;
  color: #e8e8e8;
  padding: 0px 40px;
  font-family: "Fjalla One", serif;
}

/* Navbar Section */
.navbar {
  text-align: center;
  padding: 20px 0;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: #e8e8e8;
  text-decoration: none;
  font-size: 25px;
}

/* Hero Section  */

/* About Section  */

/* Project Section  */

/* Contact Section  */

/* Footer Section  */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  padding: 60px 120px;
  background-color: black;
}

.footer h1 {
  font-size: 3.2vw;
}

#email-section {
  background-color: white;
  color: #28282b;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.4vw;
}

#social-links {
  display: flex;
  gap: 20px;
}